 {% if transactionList|length == 100 %}   
    <p class="bg-info">Only the latest 100 charges made are being shown below</p>
 {% endif %}

{% if transactionList is not empty%}

<table class="table table-hover">
       
        <tr>
            <th>&nbsp;</th>
            {% if company==NULL%}
            <th>Company Name</th>
            {% endif %}
            
            <th>Date</th>
            <th>Paid Currency</th>
            <th>Paid Amount</th>
            <th>Status</th>
            <th>Net Amount Currency</th>
            <th>Net Amount</th>
            <th>Stripe Fee Currency</th>
            <th>Stripe Fee Amount</th>
            <th>GST Currency</th>
            <th>GST Amount</th>
            <th>Total Fee Currency</th>
            <th>Total Fee Amount</th>
            <th>Total Amount Currency</th>
            <th>Total Amount</th>            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        
               
            {% for item in transactionList %}
        		<tr>
		            <td>&nbsp;</td>
		            {% if company==NULL%}
		            	<td>{{ item.company }}</td>
		            {% endif %}
		            <td>{{ item.charge.created | date( app.session.get('user_preferences')['dateFormat']) }}</td>
		            <td>{{ item.charge.currency |upper }}</td>
		            <td>{{ (item.charge.amount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ item.charge.status |capitalize }}</td>
		            <td>{{ item.transaction.currency |upper }}</td>
		            <td>{{ (item.transaction.net/100) | number_format(2, '.', ',') }}</td>
		            
		            {% for fee in item.transaction.fee_details %}
		            	<td>{{ fee.currency |upper }}</td>
		            	<td>{{ (fee.amount/100) | number_format(2, '.', ',') }}</td>
		            {% endfor %}
		            
		             <td>{{ item.transaction.currency |upper }}</td>
		            <td>{{ (item.transaction.fee/100) | number_format(2, '.', ',') }}</td>
		            
		             <td>{{ item.transaction.currency |upper }}</td>
		            <td>{{ (item.transaction.amount/100) | number_format(2, '.', ',') }}</td>
		            
		            
		            <td>&nbsp;</td>
		        </tr>
        	{% endfor %}

        
</table>
{% endif %}
