{% extends "Drillsight" ~ portal | capitalize ~ "Bundle::layout.html.twig" %}

{% block title %}Drillsight - Reports{% endblock %}

{% block javascripts %}
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}

    {% include "DrillsightSystemBundle:Content:links.html.twig" %}

    <h3>Stripe Transaction Report</h3>

    <form action="{{ path('_' ~ portal ~ '_stripe_transaction_report') }}" method="post" {{ form_enctype(form) }} >

        <table class="table">
            {% if portal == 'admin' %}
                <tr>
                    <td>
                        {{ form_label(form.company, 'Company:') }}
                    </td>
                    <td>
                        {{ form_widget(form.company) }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    {{ form_label(form.fromDate, 'From Date:') }}
                </td>
                <td>
                    {{ form_widget(form.fromDate) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form_label(form.toDate, 'To Date:') }}
                </td>
                <td>
                    {{ form_widget(form.toDate) }}
                </td>
            </tr>
        </table>

        <div class="btn-group" role="group">
            {{ form_widget(form.reportHTML) }}
            {{ form_widget(form.reportPDF) }}
            {{ form_widget(form.reportCSV) }}
            {{ form_widget(form.cancel) }}
        </div>

        <div class="panel">
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>

    </form>

    {% include 'DrillsightReportBundle:StripeTransactionReport:report.html.twig' %}

{% endblock %}