 {% if transactionList|length == 100 %}   
    <p class="bg-info">Only the latest 100 charges made are being shown below</p>
 {% endif %}

{% if transactionList is not empty%}

<table class="table table-hover">
       
        <tr>
            <th>&nbsp;</th>
            {% if company==NULL%}
            <th>Company Name</th>
            {% endif %}
            
            <th>Date</th>
            <th>Paid Currency</th>
            <th>Paid Amount</th>
            <th>Refunded Currency</th>
            <th>Refunded Amount</th>
            <th>Net Amount Currency</th>
            <th>Net Amount</th>
            <th>Stripe Fee Currency</th>
            <th>Stripe Fee Amount</th>
            <th>GST Currency</th>
            <th>GST Amount</th>
            <th>Total Fee Currency</th>
            <th>Total Fee Amount</th>
            <th>Total Amount Currency</th>
            <th>Total Amount</th>            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        
               
            {% for item in transactionList %}
        		<tr>
		            <td>&nbsp;</td>
		            {% if company==NULL%}
		            	<td>{{ item.company.name }}</td>
		            {% endif %}
		            <td>{{ item.dateCreated | date( app.session.get('user_preferences')['dateFormat']) }}</td>
		            <td>{{ item.chargeCurrency |upper }}</td>
		            <td>{{ (item.chargeAmount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ item.chargeCurrency |upper }}</td>
		            <td>{{ (item.refundedAmount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ item.transactionCurrency |upper }}</td>
		            <td>{{ (item.transactionNetAmount/100) | number_format(2, '.', ',') }}</td>
		            
		            
	            	<td>{{ item.transactionCurrency |upper }}</td>
		            <td>{{ (item.stripeFeeAmount/100) | number_format(2, '.', ',') }}</td>
		            <td>{{ item.transactionCurrency |upper }}</td>
		            <td>{{ (item.gstAmount/100) | number_format(2, '.', ',') }}</td>
		            
		            
		             <td>{{ item.transactionCurrency |upper }}</td>
		            <td>{{ (item.totalFeeAmount/100) | number_format(2, '.', ',') }}</td>
		            
		             <td>{{ item.transactionCurrency |upper }}</td>
		            <td>{{ (item.transactionTotalAmount/100) | number_format(2, '.', ',') }}</td>
		            
		            
		            <td>&nbsp;</td>
		        </tr>
        	{% endfor %}

        
</table>
{% endif %}
